
<% @products.each do |l| %>
    <% l.photos.each do |x| %>
    <div class="flex-item">
    <%= image_tag x.frame.url unless l.photos.empty? %>     
    <li>Category: <%= l.category %></li>
    <li>Product Name: <%= l.product_name %></li>
    <li>Price in MYR: <%= l.price %></li>
    <li>Quantity in Stock: <%= l.quantity %></li>
    <li>Size: <%= l.size%></li>

        <% if current_user.superadmin? || current_user.moderator? %>
        <li><a><%= button_to "Edit", edit_product_path(l), method: :get%></a></li>
        <li><a><%= button_to "Add Product", new_product_path, method: :get%></a></li>
        <li><a><%= button_to "Delete Product", product_path(l), method: :delete%></a></li>
        <%else%>
        <li><a><%= button_to "Add To Cart", new_product_purchase_path(l), method: :get%></a></li>
        <%end%>
    
    </div>
    <%end%> 
<%end%>